Michael Gutowski
Jack Fiengo

In [84]:
import pandas as pd
Giannis_2021_2022 = pd.read_csv('Giannis2021-22.csv')
Giannis_2022_2023 = pd.read_csv('Giannis2022-23.csv')

In [85]:
Giannis_2021_2022.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/19/2021,26-317,MIL,NaN,BRK,W (+23),1,30:57:00,...,9,14,7,1,2,4,4,32,26.4,25
1,2,2,10/21/2021,26-319,MIL,@,MIA,L (-42),1,22:48,...,9,10,2,3,0,2,3,15,11.9,-25
2,3,3,10/23/2021,26-321,MIL,@,SAS,W (+10),1,30:24:00,...,8,8,8,0,3,5,4,21,16.0,19
3,4,4,10/25/2021,26-323,MIL,@,IND,W (+10),1,36:16:00,...,9,10,9,1,2,2,2,30,29.5,14
4,5,5,10/27/2021,26-325,MIL,NaN,MIN,L (-5),1,34:53:00,...,12,16,7,0,3,2,1,40,40.1,9

In [86]:
Giannis_2022_2023.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/20/2022,27-318,MIL,@,PHI,W (+2),1,36:05:00,...,13,13,8,1,3,1,4,21,22.2,13
1,2,2,10/22/2022,27-320,MIL,NaN,HOU,W (+20),1,27:38:00,...,10,12,3,0,0,4,2,44,35.8,23
2,3,3,10/26/2022,27-324,MIL,NaN,BRK,W (+11),1,37:52:00,...,12,14,5,1,3,7,4,43,33.3,5
3,4,4,10/28/2022,27-326,MIL,NaN,NYK,W (+11),1,38:55:00,...,14,14,9,1,1,2,0,30,27.6,27
4,5,5,10/29/2022,27-327,MIL,NaN,ATL,W (+8),1,32:37:00,...,12,17,4,0,1,2,4,34,26.8,-10

In [87]:
Giannis_2021_2022.rename(columns={'Unnamed: 5': 'Home/Away'}, inplace=True)
Giannis_2021_2022.rename(columns={'Unnamed: 7': 'Spread'}, inplace=True)
Giannis_2021_2022["Home/Away"].replace({"@": "Away"}, inplace=True)
Giannis_2021_2022["Home/Away"].fillna("Home", inplace=True)
Giannis_2021_2022.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/19/2021,26-317,MIL,Home,BRK,W (+23),1,30:57:00,...,9,14,7,1,2,4,4,32,26.4,25
1,2,2,10/21/2021,26-319,MIL,Away,MIA,L (-42),1,22:48,...,9,10,2,3,0,2,3,15,11.9,-25
2,3,3,10/23/2021,26-321,MIL,Away,SAS,W (+10),1,30:24:00,...,8,8,8,0,3,5,4,21,16.0,19
3,4,4,10/25/2021,26-323,MIL,Away,IND,W (+10),1,36:16:00,...,9,10,9,1,2,2,2,30,29.5,14
4,5,5,10/27/2021,26-325,MIL,Home,MIN,L (-5),1,34:53:00,...,12,16,7,0,3,2,1,40,40.1,9

In [88]:
Giannis_2022_2023.rename(columns={'Unnamed: 5': 'Home/Away'}, inplace=True)
Giannis_2022_2023.rename(columns={'Unnamed: 7': 'Spread'}, inplace=True)
Giannis_2022_2023["Home/Away"].replace({"@": "Away"}, inplace=True)
Giannis_2022_2023["Home/Away"].fillna("Home", inplace=True)
Giannis_2022_2023.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,10/20/2022,27-318,MIL,Away,PHI,W (+2),1,36:05:00,...,13,13,8,1,3,1,4,21,22.2,13
1,2,2,10/22/2022,27-320,MIL,Home,HOU,W (+20),1,27:38:00,...,10,12,3,0,0,4,2,44,35.8,23
2,3,3,10/26/2022,27-324,MIL,Home,BRK,W (+11),1,37:52:00,...,12,14,5,1,3,7,4,43,33.3,5
3,4,4,10/28/2022,27-326,MIL,Home,NYK,W (+11),1,38:55:00,...,14,14,9,1,1,2,0,30,27.6,27
4,5,5,10/29/2022,27-327,MIL,Home,ATL,W (+8),1,32:37:00,...,12,17,4,0,1,2,4,34,26.8,-10

In [89]:
Giannis_2021_2022['W/L'] = Giannis_2021_2022['Spread'].str.extract('([W|L])', expand=True)
Giannis_2022_2023['W/L'] = Giannis_2022_2023['Spread'].str.extract('([W|L])', expand=True)
Giannis_2021_2022.head()

,Rk,G,Date,Age,Tm,Home/Away,Opp,Spread,GS,MP,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,W/L
0,1,1,10/19/2021,26-317,MIL,Home,BRK,W (+23),1,30:57:00,...,14,7,1,2,4,4,32,26.4,25,W
1,2,2,10/21/2021,26-319,MIL,Away,MIA,L (-42),1,22:48,...,10,2,3,0,2,3,15,11.9,-25,L
2,3,3,10/23/2021,26-321,MIL,Away,SAS,W (+10),1,30:24:00,...,8,8,0,3,5,4,21,16.0,19,W
3,4,4,10/25/2021,26-323,MIL,Away,IND,W (+10),1,36:16:00,...,10,9,1,2,2,2,30,29.5,14,W
4,5,5,10/27/2021,26-325,MIL,Home,MIN,L (-5),1,34:53:00,...,16,7,0,3,2,1,40,40.1,9,L

In [90]:
# data_features = list(Giannis_2021_2022.columns)
# data_features.remove('W/L')
# data_features.remove('Spread')

In [91]:
data_features = ['Home/Away', 'Opp', 'MP', 'FG', 'FG%', '3P', 'FT', 'FTA', 'TRB', 'AST', 'PTS', 'GmSc']
Giannis_2021_2022_x = Giannis_2021_2022[data_features]
Giannis_2021_2022_y = Giannis_2021_2022['W/L']
Giannis_2022_2023_x = Giannis_2022_2023[data_features]
Giannis_2022_2023_y = Giannis_2022_2023['W/L']

In [92]:
import itertools
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [93]:
Giannis_2021_2022_x['Home/Away'] = le.fit_transform(Giannis_2021_2022_x['Home/Away'])
Giannis_2021_2022_x['Opp'] = le.fit_transform(Giannis_2021_2022_x['Opp'])
Giannis_2021_2022_x['MP'] = le.fit_transform(Giannis_2021_2022_x['MP'])
Giannis_2021_2022_y = le.fit_transform(Giannis_2021_2022_y)
Giannis_2022_2023_x['Home/Away'] = le.fit_transform(Giannis_2022_2023_x['Home/Away'])
Giannis_2022_2023_x['Opp'] = le.fit_transform(Giannis_2022_2023_x['Opp'])
Giannis_2022_2023_x['MP'] = le.fit_transform(Giannis_2022_2023_x['MP'])
Giannis_2022_2023_y = le.fit_transform(Giannis_2022_2023_y)

C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2021_2022_x['Home/Away'] = le.fit_transform(Giannis_2021_2022_x['Home/Away'])
C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2021_2022_x['Opp'] = le.fit_transform(Giannis_2021_2022_x['Opp'])
C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2021_2022_x['MP'] = le.fit_transform(Giannis_2021_2022_x['MP'])
C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2022_2023_x['Home/Away'] = le.fit_transform(Giannis_2022_2023_x['Home/Away'])
C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2022_2023_x['Opp'] = le.fit_transform(Giannis_2022_2023_x['Opp'])
C:\Users\fieng\AppData\Local\Temp\ipykernel_41692\4203905964.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Giannis_2022_2023_x['MP'] = le.fit_transform(Giannis_2022_2023_x['MP'])

In [94]:
feature_subsets = [list(subset) for i in range(len(data_features) + 1) for subset in itertools.combinations(data_features, i)]
feature_subsets.remove([])

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression

In [96]:
rfc_mae = 1
for subset in feature_subsets:
    x_train, x_test, y_train, y_test = train_test_split(Giannis_2021_2022_x[subset], Giannis_2021_2022_y, test_size=0.2, random_state=0)
    rfc = RandomForestClassifier(random_state=1)
    rfc.fit(x_train, y_train)
    subset_mae = mean_absolute_error(y_test, rfc.predict(x_test))
    if subset_mae < rfc_mae:
        rfc_mae = subset_mae
        rfc_optimal_subset = subset

In [97]:
rfc_optimal_subset

['+/-']

In [98]:
rfc_mae

0.14285714285714285

In [99]:
lr_mae = 1
for subset in feature_subsets:
    x_train, x_test, y_train, y_test = train_test_split(Giannis_2021_2022_x[subset], Giannis_2021_2022_y, test_size=0.2, random_state=5)
    lr = LogisticRegression(max_iter=len(feature_subsets),random_state=1)
    lr.fit(x_train, y_train)
    subset_mae = mean_absolute_error(y_test, lr.predict(x_test))
    if subset_mae < lr_mae:
        lr_mae = subset_mae
        lr_optimal_subset = subset

In [100]:
lr_optimal_subset

['+/-']

In [101]:
lr_mae

0.0

In [102]:
lr = LogisticRegression(max_iter=len(feature_subsets),random_state=1)
lr.fit(Giannis_2021_2022_x[lr_optimal_subset], Giannis_2021_2022_y)
lr_mae_2022_2023 = mean_absolute_error(Giannis_2022_2023_y, lr.predict(Giannis_2022_2023_x[lr_optimal_subset]))
lr_mae_2022_2023

0.14285714285714285

In [103]:
rfc = RandomForestClassifier(random_state=1)
rfc.fit(Giannis_2021_2022_x[rfc_optimal_subset], Giannis_2021_2022_y)
rfc_mae_2022_2023 = mean_absolute_error(Giannis_2022_2023_y, rfc.predict(Giannis_2022_2023_x[rfc_optimal_subset]))
rfc_mae_2022_2023

0.14285714285714285